.App {
  text-align: center;
}

.App-logo {
  height: 50px;
}

.App-header {
  background-color: #FFFFFF;
  height: 40px;
  padding: 20px;
  color: white;
  align-content: left;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

